body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #757575;
  } 

.grid-container {
    display: grid;
    grid-template-columns: 180px 175px 175px 150px 135px auto auto auto;
    height: 100vh;
    width: fit-content;
  }

.headerCustom {
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 22px;
}

.headerCustom2 {
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 19px;
}

.headerButtonCustom {
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 15px;
    width: 125px;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: orange;
    margin-bottom: 0px;
}

.headerButtonCustom:hover {
    background-color: rgb(223, 145, 0);
}


.eventLogText {
    line-height: 0.5;
    margin-left: 10px;
}

.resourceText {
    line-height: 0.5;
    margin-left: 10px;
}

.costText {
    line-height: 0.5;
    margin-left: 10px;
    text-align: right;
    color: rgb(5, 0, 66);
}

.equipmentText {
    line-height: 0.5;
    margin-left: 10px;
    color: darkblue;
}

.infoText {
    line-height: 0.5;
    margin-left: 10px;
}

.gatherButton {
    font-size: 16px;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 4px;
    width: 150px;
    height: 35px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.craftSelectButton {
    font-size: 16px;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 4px;
    width: 150px;
    height: 35px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.headerCustomButton2 {
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 15px;
  width: 125px;
  height: 40px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgb(0, 225, 255);
  margin-bottom: 0px;
}

.headerCustomButton2:hover {
  background-color: rgb(0, 153, 255);
}


.collectionContainer {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.collectionContent {
  background-color: rgb(55, 107, 70);
  padding: 20px;
  width: 80%;
  max-width: fit-content;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.collectionSubContainer {
  background-color: pink;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}

.closeCollection {
  position: absolute;
  top: 0;
  right: 3px;
  font-size: 24px;
  color:#757575;
  cursor: pointer;
}

.closeCollection:hover,
.closeCollection:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.collectionHeader {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.collectionItem {
  font-size: 16px;
  margin-bottom: 5px;
}

.changelogContainer {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.changelogContent {
  background-color: rgb(70, 70, 70);
  padding: 20px;
  width: 80%;
  height: 85%;
  max-width: fit-content;
  overflow-y: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  gap: 15px;
}

.changelogSubContainer {
  background-color: rgb(31, 31, 31);
  padding: 10px;
  border: 0;
  border-radius: 5px;
}

.changelogHeader {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
  text-align: left;
  color: white;
}

.changelogItem {
  color: white;
  font-size: 16px;
  margin-bottom: 5px;
}

.closeChangelog {
  position: absolute;
  top: 0;
  right: 3px;
  font-size: 24px;
  color:#757575;
  cursor: pointer;
}

.closeChangelog:hover,
.closeChangelog:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 10;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .footer-content {
    display: flex;
    width: 100%; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  .footer-content div {
    text-align: right;
    font-size: 15px;
    margin-right: 25px;
    margin-left: auto;
  }
  
  .footer-content button {
    height: 20px;
    width: 50px;
    font-size: 12px;
    padding: 2px 5px;
    background-color: lightblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .footer-content button:hover {
    background-color: rgb(223, 145, 0);
  }