body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

#left-section {
    width: 200px;
    background-color: #777777;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#left-section button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    transition: background-color 0.3s;
}

#left-section button:hover,
#left-section button.active-btn {
    background-color: #0056b3;
}

#right-section {
    flex-grow: 1; 
    padding: 20px;
    background-color: #80a2ff;
    position: relative;
}

.content {
    display: none; 
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0;
}

.content.active {
    display: block; 
}

#content1 {
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    display: grid;
    grid-template-columns: 400px 170px 170px 550px auto;
    grid-template-rows: 35px auto;
    gap: 20px;
}

.content1Sub {
    grid-row: 2;
}

.expBarArea {
    grid-row: 1; 
    grid-column: 1 / -1;
    padding: 10px;
    background-color: #ebeaea;
    margin-bottom: -30px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.moreInfoBtn {
    padding: 10px;
    font-size: 14px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.moreInfoBtn:hover {
    background-color: #0056b3;
}

.levelDisplay {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 2px;
}

.progressSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
}

.progressBarContainer {
    width: 100%;
    max-width: 700px; 
    background-color: #ccc;
}

.progressBar {
    border-radius: 5px;
    height: 30px;
    position: relative;
}

.progressColor {
    height: 100%;
    width: 0%;
    background-color: rgba(255, 166, 0, 0.75);
}

.progressText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-weight: bold;
}

.nextUnlock {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: right;
}

.miningModal {
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); 
    z-index: 1000;
}

.miningModalContent {
    background-color: #05be90;
    filter: brightness(75%);
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    height: 85%;
    text-align: center;
    overflow-y: auto;
    position: relative;
}

.close-btn {
    font-size: 30px;
    color: #333;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-btn:hover {
    color: #007BFF;
}

.mineBtn {
    font-size: 15px;
    background-color: lightblue;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    margin-bottom: 7px;
    display: block;
}

.mineItem {
    line-height: 1.3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 4px;
    padding-left: 6px;
    text-align: right;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

th {
    font-weight: bold;
    text-align: center;
}

.miningInfoTable {
    margin: 0 auto;
    width: auto;
}

#content2 {
    background-color: #e6f7ff;
    border: 2px solid #b3e0ff;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

#content2 .item {
    background-color: #b3e0ff;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

#content3 {
    background-color: #ffebcc;
    border: 2px solid #ffcc99;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

#content3 .item {
    background-color: #ffcc99;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

.changelogContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
.changelogContent {
    background-color: rgb(70, 70, 70);
    padding: 20px;
    width: 80%;
    height: 85%;
    max-width: fit-content;
    overflow-y: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    gap: 15px;
}
  
.changelogSubContainer {
    background-color: rgb(31, 31, 31);
    padding: 10px;
    border: 0;
    border-radius: 5px;
    height: fit-content;
}
  
.changelogHeader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: left;
    color: white;
}
  
.changelogItem {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}
  
.closeChangelog {
    position: absolute;
    top: 0;
    right: 3px;
    font-size: 24px;
    color:#757575;
    cursor: pointer;
}
  
.closeChangelog:hover,
.closeChangelog:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 10;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
  
.footer-content {
    display: flex;
    width: 100%; 
    justify-content: space-between; 
    align-items: center; 
}
  
.footer-content div {
    text-align: right;
    font-size: 15px;
    margin-right: 25px;
    margin-left: auto;
}
  
.footer-content button {
    height: 20px;
    width: 50px;
    font-size: 12px;
    padding: 2px 5px;
    background-color: lightblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.footer-content button:hover {
    background-color: rgb(223, 145, 0);
}